.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    position: relative;

    .label {
        font-size: 12pt;
        color: var(--primary);
    }

    .input {
        background-color: var(--primary-neutral);
        border-bottom: 2px solid var(--secondary-neutral);
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        transition: .3s border-color;
        font-size: 11pt;
        width: 100%;
    }

    .input:focus, .input:hover {
        border-color: var(--accent);
        outline: none;
    }

    .button {
        background-color: var(--accent);
        color: var(--neutral);
        height: 50px;
        border-radius: 25px;
        margin: 15px 0px;
        transition: .2s background-color;
    }

    .button:hover {
        cursor: pointer;
        background-color: #435E46;
    }

    .passwordWrapper {
        position: relative;

        .toggle {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .toggle:hover {
            cursor: pointer;
        }
    }
}

.heading {
    font-size: 32px;
    font-weight: bold;
    font-family: var(--font-noto-serif);
}

.link {
    color: var(--accent);
    transition: .2s color;
}

.link:hover {
    color: #435E46;
}

.black {
    color: var(--primary);
}

.errorContainer {
    color: #5E4746;
    position: absolute;
    bottom: -85px;
    
    .errorMessage {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 4px;
        background-color: #D9B2B5;
    }
}
