.link {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 10px 25px;
    gap: 10px;
    height: 3rem;
    border-radius: 25px;
    transition: background-color .1s;
}

.link:hover {
    background-color: #c7cdbf;
    
}