.timerContainer {
    height: 350px;
    width: 350px;
    border-radius: 350px;
    border: 5px solid #c7cdbf;
    display: flex;
    align-items: center;
    justify-content: center;

    .timerText {
        font-size: 27pt;
        font-family: var(--font-dm-mono);
        color: black;
    }
}