.container {
    border-right: 1px solid #c7cdbf;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 350px;
    margin-right: -1px;
    padding: 20px;
    font-size: 1.1rem;

    .navWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 85px;
    margin-bottom: 25px;

    .brand {
        font-family: var(--font-noto-serif);
        font-size: 3rem;
        color: var(--accent);
        position: relative;
        bottom: 3px;
    }
}